<div class="title">
<img src="/assets/img/pig_off.png" class="center">
<div class="sign">
<a href="/signup">新規登録</a>
<form action="/signin" method="post">
  <div class="sign-in">
  <input name="name" placeholder="名前"><br>
  <input name="password" type="password" placeholder="パスワード"><br>
  </div>
  <input type="submit" value="サインイン"" class="button">
</form>
</div>
</div>
<div class="description">
<h1>TIME IS MONEY とは？</h1>
<p>作業時間・勉強時間を金額として変換し、<br>
頑張った時間を可視化、管理することができる<br>
<span>時間貯金サービス</span></p>
<div class="howto">
<h1>HOW TO USE</h1>
<h2>Step1.計測</h2>
<p>作業開始時にストップウォッチのSTARTをクリック!<br>そして、作業が終わったら、STOP!をクリックしよう！<br>作業時間が計測されるよ</p>
<h2>Step2.変換</h2>
<p>STOPボタンを押したあとに、リロードすると<br>作業時間が1分あたり10円としてお金に変換！<br>時間貯金としてこの貯金箱に貯めることができるよ</p>
<h2>Step3.利用</h2>
<p>時間貯金で貯めたお金を、<br>遊びやご褒美のために使うことができるよ！<br>時間貯金を全然貯めなかったり、<br>お金を使いすぎてしまったりして、<br>貯金がマイナスにならないように気をつけよう！</p>
</div>
</div>
