<div class="title">
  <h1>時間貯金アプリ<br>
  Time is money</h1>
</div>
<a href="/signup">新規登録</a>
<form action="/signin" method="post">
  <input name="name" placeholder="名前"><br>
  <input name="password" type="password" placeholder="パスワード">
  <input type="submit" value="ログイン">
</form>
