<div class="top">
  <div class="left">

  </div>
  <img src="/assets/img/pig.png" class="center">
  <img src="/assets/img/clock.png" class="center">
  <div class="right">

<a href="/signout">Sign out</a>
<div class="sum">
<% if !current_user.nil? %>
<p><%= current_user.name %>さんの
<% end %>
<br>合計貯金額<br>
<span>¥ <%= (@works - @monies) %></span>
</p>
</div>
</div>
</div>

<div class="main">
<div class="time">
<form name="myForm">
<p id="time" name="myFormTime">0</p>
</div>
<div class="start">
<input type="button" value="Start" name="myFormButton" onclick="myCheck()">
</form>
</div>
</div>