<div class="title">
<div class="sign">
<form action="/signup" method="post">
  <div class="sign-in">
  <input name="name" placeholder="User name"><br>
  <input name="password" type="password" placeholder="Password"><br>
  <input name="password_confirmation" type="password" placeholder="Confirm Password">
  </div>
  <input type="submit" value="Sign up" class="button">
</form>
</div>
</div>
<div class="description">
<h1>TIME IS MONEY とは？</h1>
<p>作業時間・勉強時間を金額として変換し、<br>
頑張った時間を可視化、管理することができる<br>
<span>時間貯金サービス</span></p>
</div>