<h2>新規登録</h2>
<form action="/signup" method="post">
  <input name="name" placeholder="名前"><br>
  <input name="password" type="password" placeholder="パスワード">
  <input name="password_confirmation" type="password" placeholder="パスワード(確認)">
  <input type="submit" value="登録">
</form>
